{% raw %}
{
  "builders": [
    {
      "type": "qemu",
      "accelerator": "kvm",
{% endraw %}
      {{ box_qemu_binary_replace }}
      "boot_command": [
        {{ box_boot_command_replace }}
      ],
      "boot_wait": "{{ packer_boot_wait }}",
      "disk_size": "{{ box_disk_size }}",
      "headless": {{ box_packer_headless }},
      "http_directory": "{{ http_dir }}",
      "iso_checksum": "{{ packer_iso_checksum }}",
      "iso_urls": [
      {{ packer_replace_iso_urls }}
      ],
      "output_directory": "{{ packer_output_directory }}",
      "ssh_password": "{{ box_vagrant_password }}",
      "vm_name": "{{ box_name_filename_replace }}",
{% raw %}
      "net_device": "virtio-net",
      "disk_interface": "virtio",
      "disk_compression": "true",
      "format": "qcow2",
      "host_port_max": 2229,
      "host_port_min": 2222,
      "http_port_max": 10089,
      "http_port_min": 10082,
      "qemuargs": [
        [
          "-m",
          "2048M"
        ],
        [
          "-smp",
          "cpus=1,maxcpus=16,cores=4"
        ],
        [
          "-cpu",
{% endraw %}
          "{{ box_qemu_cpu }}"
{% raw %}
        ]
{% endraw %}
        {{ box_qemu_efi_bios_replace }}
{% raw %}
      ],
      "shutdown_command": "echo 'vagrant'|sudo -S /sbin/halt -h -p",
      "ssh_port": 22,
      "ssh_timeout": "50m",
      "ssh_keep_alive_interval": "1s",
      "ssh_handshake_attempts": "100",
      "ssh_username": "vagrant"
    }
  ],
  "provisioners": [
    {
      "type": "shell",
      "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh '{{ .Path }}'",
      "scripts": [
{% endraw %}
        {{ packer_pre_ansible_scripts_replace }}
{% raw %}
      ]
    },
    {
      "type": "shell",
      "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh '{{ .Path }}'",
      "inline": [
{% endraw %}
        {{ packer_ansible_install_replace }}
{% raw %}
      ]
    },
{% endraw %}
    {{ packer_ansible_run_replace }}
{% raw %}
    {
      "type": "shell",
      "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh '{{ .Path }}'",
      "scripts": [
{% endraw %}
        {{ packer_post_ansible_scripts_replace }}
{% raw %}
      ]
    }
  ]
}
{% endraw %}
